body {
  font-family: 'Roboto Condensed', sans-serif;
}

.l-header, .l-content, .l-form, .l-footer {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

.l-header-container {
  background: #C9DE55;
  color: #354242;
  font-family: 'Open Sans Condensed', sans-serif;
}

.l-footer-container {
  background: #354242;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 12px 0 40px 0;
  font-size: 13px;
  text-align: right;
}

.l-footer-container i {
  color: #C9DE55;
}

.l-footer-container a {
  color: #fff;
}

.l-form-container {
  background: #354242;
  padding: 90px 0 90px 0;
  text-align: center;
  color: #fff;
}

.form-input {
  color: #7D9100;
  border: 1px solid #7D9100;
  padding: 7px;
}

.form-input-name {
  width: 340px;
  margin-right: 5px;
}

.form-buttom {
  background: #C9DE55;
  border: 1px solid #7D9100;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: #7D9100;
  margin-left: 6px;
}

.header {
  overflow: hidden;
}

.call {
  font-size: 25px;
  width: 610px;
  margin: 0 auto;
  margin: 0 auto 67px auto;
}

.call-form {
  font-size: 22px;
}

.rooms {
  list-style-type: none;
  margin: 23px 0 0 0;
  padding: 0;
}

.rooms > li {
  margin-bottom: 15px;
  padding: 16px;
  background: #C9DE55;
  position: relative;
  overflow: hidden;
}

.rooms > li a {
  color: #354242;
}

.room-users {
  position: absolute;
  right: 16px;
  top: 16px;
}

.user {
  background: url("user.png");
  width: 16px;
  height: 16px;
  display: inline-block;
}

.logged-users {
  font-size: 13px;
}

.room-name a {
  width: 80%;
  color: #7D9100;
  text-decoration: none;
}

.room-enter {
  float: right;
  margin-top: 6px;
  color: #354242;
  text-decoration: none;
}

.room-users-list li {
  margin: 0 3px;
}

.clear-list {
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.footer {
  padding: 10px 0 0 0;
}
