body {
  font-family: 'Roboto Condensed', sans-serif;
}

.l-header, .l-content, .l-form {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

.l-header-container {
  background: #424242;
  color: #FBF7E4;
}

.l-form-container {
  background: #8E001C;
  padding: 0 0 40px 0;
}

.header {
  overflow: hidden;
}

.rooms {
  list-style-type: none;
  margin: 23px 0 0 0;
  padding: 0;
}

.rooms > li {
  background: red;
}

