<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pear Programming</title>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/all.css">
  <link rel="stylesheet" href="bower_components/tooltipster/css/tooltipster.css">
  <link rel="stylesheet" href="bower_components/tooltipster/css/themes/tooltipster-light.css">
</head>

<body>

  <div class="l-wrapper">
    <div class="l-header-container">
      <div class="l-header header">
        <img width="60" src="images/pear.png" /> <h1>Programming</h1>

        <a href="#" id="how-it-works" class="how-it-works">How it works?</a>
      </div>
    </div>

    <div class="l-form-container">
      <div class="l-form">
        <p class="call">
          Pear Programming is a platform for developers<br>who <i class="fa fa-heart"></i> to pair program
        </p>
        <p class="call-form">Create a Room and start to "pear" right now, or chose a room below</p>
        <form action="#" id="create">
          <input type="text" class="form-input form-input-name" name="subject" placeholder="Room Name">
          <input type="text" class="form-input" name="password" placeholder="Password (optional)">
          <input class="form-buttom" type="submit" value="create">
        </form>
      </div>
    </div>

    <div class="l-content-container">
      <div class="l-content">
        <input type="text" id="filter-rooms" placeholder="Filter rooms">
        <ul id="rooms" class="rooms">
          <div class="text-center rooms-loader">
            <img src="images/preloader.gif" alt="">
          </div>
        </ul>

      </div>
    </div>

    <div class="l-footer-container">
      <div class="l-footer footer">
        <div class="footer-txt">
          <div class="footer-txt-t">
            Crafted with  <i class="fa fa-heart"></i> by
          </div>
          <a target="_blank" href="http://github.com/alanuhu" title="Alan Mesquita">
            <img src="https://avatars0.githubusercontent.com/u/2721364?v=3&s=40" alt="">
          </a>
          <a target="_blank" href="http://github.com/mauriciosoares" title="Mauricio Soares">
            <img src="https://avatars1.githubusercontent.com/u/2321259?v=3&s=40" alt="">
          </a>
          <a target="_blank" href="http://github.com/weslleyaraujo" title="Weslley Araujo">
            <img src="https://avatars2.githubusercontent.com/u/2286385?v=3&s=40" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
      <h2>How it works?</h2>
      <div>
        <p>Pear Programming is made for developers who like to share their experience with others by pairing with them.</p>
        <p>Here's how you can use it:</p>
        <ol>
          <li>Create or join a room</li>
          <li>Wait for users to join you</li>
          <li>Start coding!</li>
        </ol>
        <p>Awesome right? but you must follow these rules...</p>
        <ol>
          <li>There's a maximum of 5 users for each room</li>
          <li>You must must use HTML + CSS + Javascript (we're looking foward to implement more options)</li>
          <li>If the room is full, you can WATCH the room (no coding neither sharing your sound and video)</li>
        </ol>
        <button class="md-close">✖</button>
      </div>
    </div>
  </div>

  <div class="md-overlay"></div>

  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/tooltipster/js/jquery.tooltipster.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>

  <script id="room-element" type="text/template">
    <div class="room-name">
      <a href="room.html?<%= key %>">
        <%= subject %>
      </a>
    </div>
    <div class="room-users">
      <ul class="clear-list room-users-list">
        <% if (hasPassword) { %>
          <li class="inline-block"><i class="fa fa-lock" title="Password required"></i></span></li>
        <% } %>
        <li class="inline-block">
          <a href="room.html?<%= key %>" class="tooltip-top" title="Enter room as a developer"><i class="fa fa-code"></i></a>
        </li>
        <li class="inline-block">
          <a href="room.html?<%= key %>===watch" class="watch tooltip-top" title="Watch Room">
            <i class="fa fa-eye"></i>
          </a>
        </li>
        <li class="inline-block"><i class="fa fa-user"></i><span class="logged-users"> <%= users %></span> </li>
      </ul>
    </div>

  </script>

  <script src="js/roomElement.js"></script>
  <script src="js/roomManager.js"></script>
  <script type="text/javascript">

    (function () {
      new RoomManager({
        roomsEl: '#rooms',
        formEl: '#create',
        connection: 'https://ss15-this-is-sparta.firebaseio.com/rooms/',
        reference: 'rooms',
        loader: '.rooms-loader',
        roomTemplate: '#room-element',
        howItWorksBt: '#how-it-works',
        howItWorksClose: '.md-close',
        filter: '#filter-rooms'
      });
    }());

  </script>
</body>
</html>
